@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Patrick+Hand&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Patrick+Hand&display=swap');
form {
    width: 450px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #deb510;

    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid #222222;
    padding: 5px;
    font-family: 'Caveat', cursive;
}

#inputBox {
    border-radius: 15px;
    border: 3px solid #222222;
    padding: 5px;
    width: 300px;
    height:40px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: bold;

}

#textBox {
  border-radius: 15px;
  border: 3px solid #222222;
  padding: 5px;
  width: 300px;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  height: 150px;

}

#submitButton{
  border-radius: 10px;
  padding: 10px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 25px;
  border: 3px solid #222222;


}

#mailtoLabel {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: black;

}

#warningLabel{
  display: block;
  width: 450px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.56em;
  color: black;
  margin: 5px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 35px;

}
#buttonLoading{
    border-radius: 10px;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid #222222;
    color: rgb(0, 0, 0);
}